<!-- <nav 
  class="navbar bg-body-tertiary" 
  style="background-color: rgb(207, 207, 250);">
  <div class="container-fluid">
    <a class="navbar-brand">Curd Application</a>
    <form class="d-flex text-right" role="search">
        <button
         routerLink="/viewEmp"
         class="btn btn-outline-success" 
         style="background-color: rgb(207, 207, 250);"
         >View Employee Detail</button>
      <i class="bi bi-person-fill"></i>
      <button 
        routerLink="/addEmp"
        class="btn btn-outline-success" 
        style="background-color: rgb(207, 207, 250);">Add New User</button>
    </form>
  </div>
</nav> -->

<nav 
  class="navbar navbar-expand-sm"
  style="background-color: rgb(207, 207, 250);">
  <img src="../assets/images/images (1).jpg" alt="log" class="logo">&nbsp;
  <h3 class="text-uppercase"
    style="color: rgb(85, 3, 85);">Task Management</h3>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewtask">Veiw Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-dark my-2 my-sm-0" routerLink="/addUser">Add New Task</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
