/* #tbl-container{
    max-width: 800px;

} */
#tbl-container{
    position: absolute;
    top: 8pc;
    left:15pc;
}
.pending {
    color: red;
  }
  
  .inprogress {
    color: blue;
  }
  
  .complete {
    color: green;
  }