.container{
     /* border: 1px solid grey; */
    /* border-radius: 5px;
    padding: 20px 10px 20px 10px; */
    width: 700px;
    position: absolute;
    top:80px;
    left: 15pc;
}
form{
    margin: 30px 20px 20px 20px;
}

/* @media only screen and(max-width : 600px) {
    #form3Example1{
        width: 100px;
    }
} */